@{
    ViewBag.Title = "Como Comprar?";
}
<h2>@ViewBag.Title.</h2>


<p>
    
    Es su primera compra?
    Para comprar, es imprescindible crear una cuenta de <a href="/Account/Register">Cliente</a>, con lo que podrá realizar sus compras ágilmente, guardar múltiples direcciones de facturación/envío, ver y rastrear los pedidos en su cuenta y más.

    Una vez creada su cuenta de Cliente, le sugerimos hacerse <a href="Hazte_Socio">socio</a> para disfrutar de las ventajas y beneficios del mejor club de compras.
</p>
