<link rel="stylesheet" href="~/Content/miestilo.css">
      @{ ViewBag.Title = "Hazte Socio"; }
<h2>@ViewBag.Title.</h2>



<p>Los Socios de Price Club adquieren beneficios al comprar para su uso personal y/o al vender productos a vecinos, amigos, familiares y compañeros de trabajo.</p>
<p> Al comprar para su uso personal, o familiar, el Socio de Price Club estará obteniendo grandes ahorros en comparación al precio que estos productos se venden en otras tiendas.</p>

   <p> Adquiriendo productos como Socios de Price Club a precio de “mayoristas” y al venderlos a precio en que se encuentran en las tiendas se obtienen interesantes ganancias desde un 43% en adelante.</p>

   <p> Una de las ventajas del sistema de ventas por catálogo es que no se requiere que el socio se arriesgue a invertir en un inventario sin antes haberlo vendido. Con la utilización de los Catálogos de Productos se generan los pedidos con los que el socio asegura sus ventas.</p>

    <p>El Socio puede comprar lo que previamente ya tiene vendido. No se corren riesgos, pues se aceptan devoluciones que se cambian por otros productos, evitando así que el Socio pierda dinero.</p>

   <p> Price Club es la oportunidad ideal de hacer dinero extra sin descuidar el trabajo y la familia. ¡Es la mejor  forma de tener tu negocio sin riesgo de inversión!</p>

   <p> El Socio de Price Club también recibe incentivos dependiendo del volumen de compras efectuadas.</p>

   <br>

   <div class="">
       <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
           <input type="hidden" name="cmd" value="_s-xclick">
           <input type="hidden" name="hosted_button_id" value="F88QHYVVCZ3PU">
           <table>
               <tr><td><input type="hidden" name="on0" value=""></td></tr>
               <tr>
                   <td>
                       <select name="os0">
                           <option value="Pago mensual">Pago mensual : $20.00 USD - mensual</option>
                           <option value="Pago anual">Pago anual : $220.00 USD - anual</option>
                       </select>
                   </td>
               </tr>
           </table>
           <input type="hidden" name="currency_code" value="USD">
           <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
           <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
       </form>

   </div>

<br>
   <div class="">
       <address>
           Dominican Republic<br />
           Santo Domingo este <br />
           <abbr title="Phone">P:  829-444-1938</abbr>
         
       </address>

       <address>
           <strong>Contacto:</strong>   <a href="mailto:Support@example">PriceClub@gmail.com</a><br />
           <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing_PriceClub@gmail.com</a>
       </address>
   </div>
