
@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/miestilo.css">

<div class="slider">
    <ul>
        <li><img alt="" src="https://www.priceclub.com.do/media/bannerslider/b/a/banner_web_990_x_330_px_objetivo_pc_correccion.jpg"></li>
        <li><img alt="" src="https://www.priceclub.com.do/media/bannerslider/b/a/banner_web_990_x_330_px_pc-191101.jpg">></li>
        <li><img alt="" src="https://www.priceclub.com.do/media/bannerslider/p/o/portada_env_o_gratis_990_x_300_px.jpg"></li>
        <li><img alt="" src="https://www.priceclub.com.do/media/bannerslider/n/u/nuevo_cat_banner_990x330px_pc-191101.jpg"></li>
    </ul>
</div>

<div class="magestore-bannerslider-standard">
    <script src="https://www.priceclub.com.do/js/magestore/bannerslider/jquery.flexslider.js"></script>
    <link rel="stylesheet" type="text/css" href="https://www.priceclub.com.do/skin/frontend/base/default/css/magestore/bannerslider/flexslider.css" media="all">
    <div class="flexslider flexslider-7-11">
        <ul class="slides">
            <li style="display: list-item;">
                <a href="" target="_blank" onclick="bannerClicks('179','11')" style="display:block"><img alt="" src="https://www.priceclub.com.do/media/bannerslider/b/a/bannercito_660_x_150_px_escolares_pc-2019.jpg"></a>
            </li>
        </ul>
    </div>
</div>

<div class="jumbotron">
    <h3>SOBRE PRICE CLUB</h3>
    <p class="lead">Price Club ofrece una amplia variedad de calzados de reconocidas marcas donde socios y clientes pueden comprar mercancía para uso personal o re-venta en nuestras sucursales o en nuestra tienda virtual. </p>
    <p class="lead">Price Club es la oportunidad ideal de hacer dinero extra sin descuidar el trabajo y la familia. La mejor forma de tener tu negocio sin riesgo de inversión! </p>
    <p><a href="~/Views/Home/sobre_Price.cshtml" class="btn btn-primary btn-lg">Leer Más &raquo;</a></p>

</div>